# Question 1

In [3]:
from scipy import stats
import numpy as np
import matplotlib as plt

In [4]:
a=stats.binom(40,0.25)

In [5]:
print('The likelihood that Joon properly answers more than 30 questions',1-a.cdf(30))

The likelihood that Joon properly answers more than 30 questions 4.905520434306254e-12

# Question 2

In [6]:
b=stats.poisson(1.2)

In [7]:
print('Probability that no defects exist: ',b.pmf(0))

Probability that no defects exist:  0.30119421191220214

In [8]:
print('Probability that the number of defects is below average: ',b.cdf(0.2))

Probability that the number of defects is below average:  0.3011942119122021

In [9]:
print('Probability that there are more defects than usual:',1-b.cdf(1.2))

Probability that there are more defects than usual: 0.33737273379315535

# Question 3

In [62]:
Mean=1/0.02
print('A car battery can typically last up to:',Mean, 'months')

A car battery can typically last up to: 50.0 months

In [25]:
c=stats.expon(scale=50)

In [26]:
print('The likelihood that a car battery would last fewer than 30 months is: ',c.cdf(29))

The likelihood that a car battery would last fewer than 30 months is:  0.44010163343459796

# Practice

In [27]:
from scipy.stats import ttest_ind
import pandas as pd
import numpy as np
import matplotlib as mt

  # a. Find “Bank.csv” and load it using pandas.

In [63]:
df=pd.read_csv("Bank.csv")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    5000 non-null   int64
 1   Age           5000 non-null   int64
 2   Income        5000 non-null   int64
 3   Education     5000 non-null   int64
 4   PersonalLoan  5000 non-null   int64
dtypes: int64(5)
memory usage: 195.4 KB

# b. Splitting it into two groups (PersonalLoan=0 and 1).

In [64]:
df_PersonalLoan_0=df[(df['PersonalLoan'] == 0)]
df_PersonalLoan_1=df[(df['PersonalLoan'] == 1)]

In [65]:
df_PersonalLoan_0.describe()

        Unnamed: 0          Age       Income    Education  PersonalLoan
count  4520.000000  4520.000000  4520.000000  4520.000000        4520.0
mean   2511.165487    45.367257    66.237389     1.843584           0.0
std    1448.299331    11.450427    40.578534     0.839975           0.0
min       0.000000    23.000000     8.000000     1.000000           0.0
25%    1258.750000    35.000000    35.000000     1.000000           0.0
50%    2517.500000    45.000000    59.000000     2.000000           0.0
75%    3767.250000    55.000000    84.000000     3.000000           0.0
max    4999.000000    67.000000   224.000000     3.000000           0.0

In [33]:
df_PersonalLoan_1.describe()

        Unnamed: 0         Age      Income   Education  PersonalLoan
count   480.000000  480.000000  480.000000  480.000000         480.0
mean   2389.650000   45.066667  144.745833    2.233333           1.0
std    1394.393674   11.590964   31.584429    0.753373           0.0
min       9.000000   26.000000   60.000000    1.000000           1.0
25%    1165.500000   35.000000  122.000000    2.000000           1.0
50%    2341.000000   45.000000  142.500000    2.000000           1.0
75%    3565.000000   55.000000  172.000000    3.000000           1.0
max    4980.000000   65.000000  203.000000    3.000000           1.0

# c. Please do three hypothesis tests (t-test) using “ttest_ind” for (1) Age, (2) Income, and (3) Education.

# i. Show your results for a 95% confidence level (p=0.05). (Note: your Null hypothesis  (H0)  is  that  the  population  mean  of  the  two  groups  is  the  same  (no difference)).

In [53]:
#Code for Age
stat, g=ttest_ind(df_PersonalLoan_0['Age'],df_PersonalLoan_1['Age'])
print('t_c=%.3f g=%.3f' % (stat,g))
if g>0.05:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t_c=0.546 g=0.585
not possible to reject H0: no difference

In [51]:
#Code for Income
stat, g=ttest_ind(df_PersonalLoan_0['Income'],df_PersonalLoan_1['Income'])
print('t=%.3f g=%.3f' % (stat,g))
if g>0.05:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t=-41.085 g=0.000
cannot accept H0: difference

In [48]:
#Code for Education
stat, g=ttest_ind(df_PersonalLoan_0['Education'],df_PersonalLoan_1['Education'])
print('t=%.3f g=%.3f' % (stat,g))
if g > 0.05:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t=-9.757 g=0.000
cannot accept H0: difference

# Show your results for a 99% confidence level (p=0.01). (Note: your Null hypothesis  (H0)  is  that  the  population  mean  of  the  two  groups  is  the  same  (no difference)).

In [47]:
#Code for Age
tstat, p=ttest_ind(df_PersonalLoan_0['Age'],df_PersonalLoan_1['Age'])
print('t=%.3f p=%.3f' % (tstat,p))
if p > 0.01:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t=0.546 p=0.585
cannot reject H0: no difference

In [57]:
#Code for Income
stat, g=ttest_ind(df_PersonalLoan_0['Income'],df_PersonalLoan_1['Income'])
print('t=%.3f g=%.3f' % (stat,g))
if g > 0.01:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t=-41.085 g=0.000
H0 is incompatible: difference

In [54]:
#Code for Education
stat, g=ttest_ind(df_PersonalLoan_0['Education'],df_PersonalLoan_1['Education'])
print('t=%.3f p=%.3f' % (stat,g))
if g > 0.01:
    print('not possible to reject H0: no difference')
else:
    print('H0 is incompatible: difference')

t=-9.757 p=0.000
H0 is incompatible: difference